{{ 'section-about-us.css' | asset_url | stylesheet_tag }}

<div class="about-us-container">
  <div class="about-us-container-responsive-image-wrapper">
    {% if section.settings.image != blank %}
      <img
        loading="lazy"
        class="about-us-image"
        src="{{ section.settings.image | image_url: width: 2000 }}"
        alt="About us image"
      >
    {% endif %}

    <div class="about-us-content color-{{ section.settings.color_scheme }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2>{{ block.settings.heading }}</h2>
          {% when 'text' %}
            <p>{{ block.settings.text }}</p>
          {% when 'buttons' %}
            <a href="{{ block.settings.button_link }}" class="button">
              {{ block.settings.button_label }}
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About us",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Why Cats Love Us"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Because your cat runs the house. We just help you keep them happy."
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About us",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
