{{ 'section-featured-favorite.css' | asset_url | stylesheet_tag }}

<style>
  .featured-favorite-text-color {
    color: {{ section.settings.text_color }};
  }
</style>

<div class="featured-favorite-container">
  <div class="responsive-image-wrapper">
    {% if section.settings.image != blank %}
      <img
        loading="lazy"
        class="featured-favorite-image"
        src="{{ section.settings.image | image_url: width: 2000 }}"
        alt="Featured favorite image"
      >
    {% endif %}

    <div class="featured-favorite-content">
      <h3>Featured Favorite</h3>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2 class="featured-favorite-text-color">{{ block.settings.heading }}</h2>
          {% when 'text' %}
            <p class="featured-favorite-text-color">{{ block.settings.text }}</p>
          {% when 'buttons' %}
            <a href="{{ block.settings.button_link }}" class="button">
              {{ block.settings.button_label }}
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured favorite",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Purr-fect Start: Kitten Gravy by Royal Canin"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Deliciously formulated to support healthy growth, Royal Canin Kitten Gravy is packed with essential nutrients for developing kittens. Soft, savory, and irresistibly satisfying."
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured favorite",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
